* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
}

.container {
    display: grid;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.main-content {
    display: grid;
    grid-template-columns: 1.4fr 600px;
    height: 500px;
}

.section-menu { 
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.section-menu__burger-btn {
    display: none;
    position: relative;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: inherit;
    z-index: 2;
}

.section-menu__burger-btn span {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
    left: 5px;
    transition: transform .4s, opacity .3s;
}

.section-menu__burger-btn span:nth-child(1) {
    transform: translateY(6px);
}

.section-menu__burger-btn span:nth-child(3) {
    transform: translateY(-6px);
}

.main-content.open .section-menu__burger-btn span {
    background-color: hsl(0, 0%, 63%);
}

.main-content.open .section-menu__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(-45deg);
}

.main-content.open .section-menu__burger-btn span:nth-child(2) {
    opacity: 0;
}

.main-content.open .section-menu__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.background-0 {
    background-image: url(../images/desktop-image-hero-1.jpg);
}

.background-1 {
    background-image: url(../images/desktop-image-hero-2.jpg);
}

.background-2 {
    background-image: url(../images/desktop-image-hero-3.jpg);
}

.section-menu__heading {
    margin: 3rem 3rem 0 5rem;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.nav {
    margin-top: 3.5rem;
}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: lowercase;
}

.nav-link:not(:last-child) {
    margin-right: 20px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 55%;
    height: 2px;
    background-color: white;
    opacity: 0;
    left: 50%;
    position: absolute;
    bottom: -10px;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
}

.nav-link:hover:after {
    opacity: 1;
}

/* section-shop */

.section-shop {
    padding: 7rem 5.5rem 8.6rem;
    position: relative;
}

.section-shop__content {
    display: none;
}

.section-shop__heading {
    font-size: 38px;
    line-height: 1;
    margin-bottom: 22px;
}

.section-shop__description {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: .1px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 63%);
}

.section-shop__left-arrow {
    letter-spacing: 9px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.section-shop__left-arrow:hover {
    color: hsl(0, 0%, 63%);
    transition: color 0.3s ease;
}

.section-shop__left-arrow:hover svg path {
    fill: hsl(0, 0%, 63%);
    transition: fill 0.3s ease;
}

.arrows-container {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
}

.arrow {
    width: 70px;
    height: 70px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prev {
    background-image: url(../images/icon-angle-left.svg);
}

.next {
    background-image: url(../images/icon-angle-right.svg);
}

.arrow:hover {
    background-color: hsl(0, 0%, 27%);
}

.active {
    display: block;
}

/* section-about */

.section-about {
    display: grid;
    grid-template-columns: .96fr 1.24fr 460px;
}

.left-background {
    background: url(../images/image-about-dark.jpg) no-repeat;
    background-size: 100% 100%;
}

.about {
    position: relative;
    padding: 3.6rem 2.6rem;
}

.section-about__heading {
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.section-about__description {
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: -.5px;
    color: hsl(0, 0%, 63%);
}

.right-background {
    background: url(../images/image-about-light.jpg) no-repeat;
    background-size: 100% 100%;
}

.attribution { 
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 11px; 
    color: rgba(0, 0, 0, 0.288);
    transform: translateX(-50%);
}
    
.attribution a { 
    color: #79554877; 
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0; 
    display: none;
}

@media (max-width: 1024px) {
    .main-content {
        grid-template-columns: 1.4fr 1fr;
    }

    .section-shop {
        padding: 3.5rem 5rem 5.6rem;
    }

    .section-about {
        display: grid;
        grid-template-columns: .96fr 1.24fr 317px;
    }

    .arrow {
        width: 55px;
        height: 55px;
        background-size: 10px;
    }
}

@media (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr;
        height: unset;
    }

    .section-menu {
        height: 600px;
    }

    .section-shop__description {
        margin-bottom: 3rem;
        font-size: 16px;
    }

    .section-about {
        display: grid;
        grid-template-columns: .96fr 1.24fr 286px;
    }

    .arrows-container {
        left: unset;
        right: 0;
        top: -70px;
    }

    .section-shop,
    .about {
        padding: 5rem;
    }

    .section-about {
        grid-template-columns: 1fr;
    }

    .section-about__description {
        letter-spacing: 1px;
    }

    .left-background,
    .right-background {
        height: 400px;
    }

}


@media (max-width: 425px) {
    .main-content,
    .section-about {
        grid-template-columns: 1fr;
    }
    
    .section-menu {
        display: block;
        height: 300px;
    }

    .section-menu__heading {
        position: absolute;
        margin: unset;
        left: 50%;
        transform: translateX(-50%);
    }

    .section-menu__burger-btn {
        display: block;
    }

    .nav {
        position: absolute;
        padding: 40px 20px 40px 120px;
        left: -100%;
        top: 0;
        width: 100%;
        margin: unset;
        background-color: white;
        transition: transform .4s;
    }

    .nav-link {
        color: black;
    }

    .main-content.open .nav {
        transform: translateX(100%);
    }

    .main-content.open .overlay {
        display: block;
    }

    .background-0 {
        background-image: url(../images/mobile-image-hero-1.jpg) no-repeat;
    }
    
    .background-1 {
        background-image: url(../images/mobile-image-hero-2.jpg) no-repeat;
    }
    
    .background-2 {
        background-image: url(../images/mobile-image-hero-3.jpg) no-repeat;
    }

    .left-background,
    .right-background {
        height: 250px;
    }

    .section-shop__description,
    .section-about__description {
        font-size: 14px;
    }

    .arrows-container {
        top: -55px;
    }

    .arrow {
        width: 55px;
        height: 55px;
        background-size: 10px;
    }

    .section-shop,
    .about {
        padding: 3rem 2rem 4rem;
    }

    .section-shop__heading {
        font-size: 35px;
    }

}